#content4{
    background:#eeeeee;
    grid-area:content4;
    border-radius: 15px 3px 0 15px;
    padding:20px;
    border-right:maroon 3px solid;
   
}

#title{
    display:flex;
    justify-content:flex-start;
    margin-bottom:5px;

}


.profile-image{
border-radius: 50%;
width:20px;
margin-right:5px;

}

.blog-img{
    width:100%;
    height:200px;
    border-radius: 10px;
    align-content: center;
    
}

#img{
    margin-bottom: 10px;
}
#desc{
    margin-bottom: 10px;
}

button{
    background: maroon;
    border-style: none;
    border:none;
    color: #eee;
    border-radius:3px;
}