footer{
    display:flex;
    background:#223a39;
    grid-area:footer;
    width: 100%;
    padding: var(--main-padding);
    margin:0;
    color: aliceblue;
    justify-content: center;
}
    


/* .footnote{
    align-content:center;
} */