@import url(nav.css);
@import url(sidebar.css);
@import url(main.css);
@import url(rightbar.css);
@import url(content1.css);
@import url(content2.css);
@import url(content3.css);
@import url(content4.css);
@import url(footer.css);

/* body {
    margin:0;
} */
:root {
    --main-radius:25px;
    --main-padding:10px;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

.container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.7fr 1.2fr 0.8fr;
    grid-template-areas:
    "nav nav  nav nav"
    "sidebar main main rightbar"
    "content1 content2 content3 content4"
    "footer footer footer footer";
    grid-gap:0.7em;
    margin:0px;
}

main {
    background:lavender;
    grid-area: main;
    border-radius: var(--main-radius);  
    padding: 20px;
}

#title{
    display:flex;
    justify-content:flex-start;
    margin-bottom:5px;

}


.profile-image{
border-radius: 50%;
width:20px;
margin-right:5px;

}

.blog-img{
    width:100%;
    height:300px;
    border-radius: 10px;
    align-content: center;
    
}

#img{
    margin-bottom: 10px;
}
#desc{
    margin-bottom: 10px;
}

button{
    background: maroon;
    border-style: none;
    border:none;
    color: #eee;
    border-radius:3px;
}

@media only screen and (max-width:550px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.7fr 2.2fr 0.7fr 1.2fr 1.2fr 1.2fr 1.2fr 0.3fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "rightbar"
        "content1"
        "content2"
        "content3"
        "content4"
        "footer";
    }
}