nav{
    background:#3C5f5E;
    grid-area: nav;
    display:flex;
    justify-content:space-between;
    padding: var(--main-padding);
    color:lightcyan;
    flex-direction: row;
    width: 100%;
   
    
   

}

.logo{
    margin-left: 10px;
}

.menu{
    margin-right: 200px;
}
.menu a{
    color: aliceblue;
    text-decoration: none;
}


li{
    display:inline-block;
    list-style:none;
    list-style-type:none;
    margin-right: 5px;
    text-decoration:none;
    

}