nav{
    background:#3C5f5E;
    grid-area: nav;
    display:flex;
    justify-content:space-around;
    padding: var(--main-padding);
    color:lightcyan;
    border-radius:10px;
    flex-direction: row;
    
   

}

#menu li{
  
    
    
}

#menu a{
    display:block;
    list-style-type:none;
    color: aliceblue;
    text-decoration:none;
    
}