#sidebar{
    background:#eee;
    grid-area:sidebar;
    border-radius: 3px 15px  15px 0;
    padding: var(--main-padding);
    border-left:maroon 3px solid;
}

.sidebar li{
    display: list-item;
}